// variables




// mixins

@mixin column {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

@mixin font {
    font: monospace;
    color: #FFFFFF;
}

@mixin links {
    a {
        text-decoration: none;
        color:#702963 ;
    
        &:hover {
            color: #483248;
        }
    }
}

body, html {
    background-color:#BDB5D5;

    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.header {
    @include font;
    font-size: 1.5vw;
}

.albums {
    @include font;
    @include links;
    @include column;

    margin-top: 3%;
}

.socials {
    @include font;
    @include links;
    @include column;

    margin-top: 3%;
}

.about-me {
    @include font;
    margin-top: 3%;

    .bio {
        max-width: 200px;
        line-height: 2;
        color: #483248;
    }
} 

